{% extends "base.html" %}

{% block content %}
    {% if number == "random"%}
        {% set number = range(1, crew|length + 1) | random %}
    {% endif %}
    {% if number in range(1, crew|length + 1) %}
        <h2>{{ crew[number - 1].first_name }} {{ crew[number - 1].last_name }}</h2>
        <img src="../static/members/photo/{{ crew[number - 1].photo }}"
             alt="Фото '{{ crew[number - 1].first_name }} {{ crew[number - 1].last_name }}'">
        <p>
            {% for i in crew[number - 1].specialty | sort %}
                {{ i }}{% if not loop.last %}, {% endif %}
            {% endfor %}
        </p>
    {% else %}
        <p>Указан неверный номер</p>
    {% endif %}

{% endblock %}